{% extends '../base_layout.html' %}
{% load static %}
{% block title %} Logs {% endblock title %}
{% block main-content %}
            <div >
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        <div class="card">
                            <div class="card-body">
                            <div class="row">

                                  <div class="col-xl-3 col-md-6">
                                    <div class="card bg-danger text-white mb-4">
                                        <div class="card-body d-flex justify-content-between">
                                            <div>Stocks</div>
                                            <div>({{stocks}})</div>
                                        </div>
                                        <div class="card-footer d-flex align-items-center justify-content-between">
                                            <a class="small text-white stretched-link" href="{% url 'stock_list' %}">View Details</a>
                                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                        </div>
                                    </div>
                                </div>
                                  <div class="col-xl-3 col-md-6">
                                    <div class="card bg-danger text-white mb-4">
                                        <div class="card-body d-flex justify-content-between">
                                            <div>Warehouses</div>
                                            <div>({{warehouses}})</div>
                                        </div>
                                        <div class="card-footer d-flex align-items-center justify-content-between">
                                            <a class="small text-white stretched-link" href="{% url 'list_warehouses' %}">View Details</a>
                                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                        </div>
                                    </div>
                                </div>
                                  <div class="col-xl-3 col-md-6">
                                    <div class="card bg-danger text-white mb-4">
                                        <div class="card-body d-flex justify-content-between">
                                            <div>Employees</div>
                                            <div>({{employees}})</div>
                                        </div>
                                        <div class="card-footer d-flex align-items-center justify-content-between">
                                            <a class="small text-white stretched-link" href="{% url 'list_employees' %}">View Details</a>
                                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-3 col-md-6">
                                    <div class="card bg-primary text-white mb-4">
                                          <div class="card-body d-flex justify-content-between">
                                            <div>User Orders</div>
                                            <div>({{user_orders}})</div>
                                        </div>
                                        <div class="card-footer d-flex align-items-center justify-content-between">
                                            <a class="small text-white stretched-link" href="{% url 'orderlists' %}">View Details</a>
                                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div class="card bg-primary text-white mb-4">
                                         <div class="card-body d-flex justify-content-between">
                                            <div>Prepared Orders</div>
                                            <div>({{prepare_orders}})</div>
                                        </div>
                                        <div class="card-footer d-flex align-items-center justify-content-between">
                                            <a class="small text-white stretched-link" href="{% url 'list_prepare_orders' %}">View Details</a>
                                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                             <div class="col-xl-3 col-md-6">
                                    <div class="card bg-success text-white mb-4">
                                          <div class="card-body d-flex justify-content-between">
                                            <div>Vouchers</div>
                                            <div>({{vouchers}})</div>
                                        </div>
                                        <div class="card-footer d-flex align-items-center justify-content-between">
                                            <a class="small text-white stretched-link" href="{% url 'list_vouchers' %}">View Details</a>
                                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div class="card bg-success text-white mb-4">
                                          <div class="card-body d-flex justify-content-between">
                                            <div>Other Expenses</div>
                                            <div>({{other_expenses}})</div>
                                        </div>
                                        <div class="card-footer d-flex align-items-center justify-content-between">
                                            <a class="small text-white stretched-link" href="{% url 'list_of_ledgers' %}">View Details</a>
                                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div class="card bg-warning text-white mb-4">
                                        <div class="card-body d-flex justify-content-between">
                                            <div>Payments</div>
                                            <div>({{payments}})</div>
                                        </div>
                                        <div class="card-footer d-flex align-items-center justify-content-between">
                                            <a class="small text-white stretched-link" href="{% url 'paymentlists' %}">View Details</a>
                                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div class="card bg-warning text-white mb-4">
                                        <div class="card-body d-flex justify-content-between">
                                            <div>Delivery</div>
                                            <div>({{deliveries}})</div>
                                        </div>
                                        <div class="card-footer d-flex align-items-center justify-content-between">
                                            <a class="small text-white stretched-link" href="{% url 'delivery_list' %}">View Details</a>
                                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                        </div>
                                    </div>
                                </div>
                        </div>

                          </div>
                        </div>
                         <div class="card">
                            <div class="card-body">
                                <div class="row">
                                     <div class="col-xl-3 col-md-6">
                                            <div class="card bg-primary text-white mb-4">
                                                <div class="card-body d-flex justify-content-between">
                                                    <div>Product Attributes Name</div>
                                                    <div>({{product_attribute_names}})</div>
                                                </div>
                                                <div class="card-footer d-flex align-items-center justify-content-between">
                                                    <a class="small text-white stretched-link" href="{% url 'list_attribute_name' %}">View Details</a>
                                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="col-xl-3 col-md-6">
                                            <div class="card bg-primary text-white mb-4">
                                                  <div class="card-body d-flex justify-content-between">
                                                    <div>Product Attributes</div>
                                                    <div>({{product_attributes}})</div>
                                                </div>
                                                <div class="card-footer d-flex align-items-center justify-content-between">
                                                    <a class="small text-white stretched-link" href="{% url 'product_attribute_list' %}">View Details</a>
                                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="col-xl-3 col-md-6">
                                            <div class="card bg-primary text-white mb-4">
                                                 <div class="card-body d-flex justify-content-between">
                                                    <div>Product Categories</div>
                                                    <div>({{product_categories}})</div>
                                                </div>
                                                <div class="card-footer d-flex align-items-center justify-content-between">
                                                    <a class="small text-white stretched-link" href="{% url 'list_category' %}">View Details</a>
                                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="col-xl-3 col-md-6">
                                            <div class="card bg-primary text-white mb-4">
                                                <div class="card-body d-flex justify-content-between">
                                                    <div>Product Sub Categories</div>
                                                    <div>({{product_sub_categories}})</div>
                                                </div>
                                                <div class="card-footer d-flex align-items-center justify-content-between">
                                                    <a class="small text-white stretched-link" href="{% url 'list_sub_category' %}">View Details</a>
                                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-md-6">
                                            <div class="card bg-primary text-white mb-4">
                                                  <div class="card-body d-flex justify-content-between">
                                                    <div>Products</div>
                                                    <div>({{products}})</div>
                                                </div>
                                                <div class="card-footer d-flex align-items-center justify-content-between">
                                                    <a class="small text-white stretched-link" href="{% url 'product_list' %}">View Details</a>
                                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                         </div>


                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        Area Chart Example
                                    </div>
                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        Bar Chart Example
                                    </div>
                                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>

{% endblock main-content %}