{% extends '../base_layout.html' %}
{% load static %}
{% block title %} Logs {% endblock title %}
{% block main-content %}
{% load user_type %}

            <div >
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>

                        {% if request.user.is_superuser or request.user|employee_type == 'manager' %}
                        <div class="card">
                                <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-3 col-md-6">
                                        <div class="card bg-danger text-white mb-4">
                                            <div class="card-body d-flex justify-content-between">
                                                <div>Employees</div>
                                                <div>({{employees}})</div>
                                            </div>
                                            <div class="card-footer d-flex align-items-center justify-content-between">
                                                <a class="small text-white stretched-link" href="{% url 'list_employees' %}">View Details</a>
                                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        <div class="card">
                            <div class="card-body">
                            <div class="row">

                                  <div class="col-xl-3 col-md-6">
                                    <div class="card bg-danger text-white mb-4">
                                        <div class="card-body d-flex justify-content-between">
                                            <div>Stocks</div>
                                            <div>({{stocks}})</div>
                                        </div>
                                        <div class="card-footer d-flex align-items-center justify-content-between">
                                            <a class="small text-white stretched-link" href="{% url 'stock_list' %}">View Details</a>
                                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                        </div>
                                    </div>
                                </div>
                                  <div class="col-xl-3 col-md-6">
                                    <div class="card bg-danger text-white mb-4">
                                        <div class="card-body d-flex justify-content-between">
                                            <div>Warehouses</div>
                                            <div>({{warehouses}})</div>
                                        </div>
                                        <div class="card-footer d-flex align-items-center justify-content-between">
                                            <a class="small text-white stretched-link" href="{% url 'list_warehouses' %}">View Details</a>
                                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-xl-3 col-md-6">
                                    <div class="card bg-primary text-white mb-4">
                                          <div class="card-body d-flex justify-content-between">
                                            <div>User Orders</div>
                                            <div>({{user_orders}})</div>
                                        </div>
                                        <div class="card-footer d-flex align-items-center justify-content-between">
                                            <a class="small text-white stretched-link" href="{% url 'orderlists' %}">View Details</a>
                                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div class="card bg-primary text-white mb-4">
                                         <div class="card-body d-flex justify-content-between">
                                            <div>Prepared Orders</div>
                                            <div>({{prepare_orders}})</div>
                                        </div>
                                        <div class="card-footer d-flex align-items-center justify-content-between">
                                            <a class="small text-white stretched-link" href="{% url 'list_prepare_orders' %}">View Details</a>
                                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                             <div class="col-xl-3 col-md-6">
                                    <div class="card bg-success text-white mb-4">
                                          <div class="card-body d-flex justify-content-between">
                                            <div>Vouchers</div>
                                            <div>({{vouchers}})</div>
                                        </div>
                                        <div class="card-footer d-flex align-items-center justify-content-between">
                                            <a class="small text-white stretched-link" href="{% url 'list_vouchers' %}">View Details</a>
                                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div class="card bg-success text-white mb-4">
                                          <div class="card-body d-flex justify-content-between">
                                            <div>Other Expenses</div>
                                            <div>({{other_expenses}})</div>
                                        </div>
                                        <div class="card-footer d-flex align-items-center justify-content-between">
                                            <a class="small text-white stretched-link" href="{% url 'list_of_ledgers' %}">View Details</a>
                                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div class="card bg-warning text-white mb-4">
                                        <div class="card-body d-flex justify-content-between">
                                            <div>Payments</div>
                                            <div>({{payments}})</div>
                                        </div>
                                        <div class="card-footer d-flex align-items-center justify-content-between">
                                            <a class="small text-white stretched-link" href="{% url 'paymentlists' %}">View Details</a>
                                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div class="card bg-warning text-white mb-4">
                                        <div class="card-body d-flex justify-content-between">
                                            <div>Delivery</div>
                                            <div>({{deliveries}})</div>
                                        </div>
                                        <div class="card-footer d-flex align-items-center justify-content-between">
                                            <a class="small text-white stretched-link" href="{% url 'delivery_list' %}">View Details</a>
                                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                        </div>
                                    </div>
                                </div>
                        </div>

                          </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                     <div class="col-xl-6">
                                            <div class="card mb-4">
                                                <div class="card-header d-flex justify-content-between">
                                                   <div> <i class="fas fa-chart-area me-1"></i>Total Employees</div>
                                                    <div >
                                                        <a href="{% url 'get_employees_download' %}" ><i class="fas fa-download"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>

                         <div class="card">
                            <div class="card-body">
                                <div class="row">
                                     <div class="col-xl-3 col-md-6">
                                            <div class="card bg-primary text-white mb-4">
                                                <div class="card-body d-flex justify-content-between">
                                                    <div>Product Attributes Name</div>
                                                    <div>({{product_attribute_names}})</div>
                                                </div>
                                                <div class="card-footer d-flex align-items-center justify-content-between">
                                                    <a class="small text-white stretched-link" href="{% url 'list_attribute_name' %}">View Details</a>
                                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="col-xl-3 col-md-6">
                                            <div class="card bg-primary text-white mb-4">
                                                  <div class="card-body d-flex justify-content-between">
                                                    <div>Product Attributes</div>
                                                    <div>({{product_attributes}})</div>
                                                </div>
                                                <div class="card-footer d-flex align-items-center justify-content-between">
                                                    <a class="small text-white stretched-link" href="{% url 'product_attribute_list' %}">View Details</a>
                                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="col-xl-3 col-md-6">
                                            <div class="card bg-primary text-white mb-4">
                                                 <div class="card-body d-flex justify-content-between">
                                                    <div>Product Categories</div>
                                                    <div>({{product_categories}})</div>
                                                </div>
                                                <div class="card-footer d-flex align-items-center justify-content-between">
                                                    <a class="small text-white stretched-link" href="{% url 'list_category' %}">View Details</a>
                                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="col-xl-3 col-md-6">
                                            <div class="card bg-primary text-white mb-4">
                                                <div class="card-body d-flex justify-content-between">
                                                    <div>Product Sub Categories</div>
                                                    <div>({{product_sub_categories}})</div>
                                                </div>
                                                <div class="card-footer d-flex align-items-center justify-content-between">
                                                    <a class="small text-white stretched-link" href="{% url 'list_sub_category' %}">View Details</a>
                                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-md-6">
                                            <div class="card bg-primary text-white mb-4">
                                                  <div class="card-body d-flex justify-content-between">
                                                    <div>Products</div>
                                                    <div>({{products}})</div>
                                                </div>
                                                <div class="card-footer d-flex align-items-center justify-content-between">
                                                    <a class="small text-white stretched-link" href="{% url 'product_list' %}">View Details</a>
                                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                         </div>

                        <div class="card">
                            <div class="card-body">
                                <div >
                                    <form action="{% url 'dashboard' %}" class="row" id="dateForm" method="post">
                                        {% csrf_token %}
                                        <div class="col-md-3">
                                            <label for="startDate">Start Date:</label>
                                            <input type="date" class="form-control" id="startDate" name="start_date" required>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="endDate">End Date:</label>
                                            <input type="date" class="form-control" id="endDate" name="end_date" required>
                                        </div>
                                        <div class="col-md-3 align-items-end d-flex">
                                            <button type="submit" class="btn-sm btn-primary" >Submit</button>
                                        </div>
                                        </form>

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        Order Per Day
                                    </div>
                                    <div class="card-body">
                                        <canvas id="OrderPerChart" width="100%" height="40"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                 <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        Prepared Orders Per Day
                                    </div>
                                    <div class="card-body"><canvas id="PrepareOrderPerChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                 <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        Expenses Per Day
                                    </div>
                                    <div class="card-body"><canvas id="ExpensesPerChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>

                             <div class="col-xl-6">
                                 <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        Payment Received Per Day
                                    </div>
                                    <div class="card-body"><canvas id="PaymentReceivePerDay" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                 <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        Delivery Per Day
                                    </div>
                                    <div class="card-body"><canvas id="DeliveryPerDay" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                        </div>
                            </div>
                        </div>
                        {% elif request.user|employee_type == 'qa' %}
                        <div class="card">
                                <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-3 col-md-6">
                                        <div class="card bg-primary text-white mb-4">
                                            <div class="card-body d-flex justify-content-between">
                                                <div>Products (In QA)</div>
                                                <div>({{product_in_qa}})</div>
                                            </div>
                                            <div class="card-footer d-flex align-items-center justify-content-between">
                                                <a class="small text-white stretched-link" href="{% url 'product_list_with_type' type='in_qa' %}">View Details</a>
                                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-md-6">
                                        <div class="card bg-danger text-white mb-4">
                                            <div class="card-body d-flex justify-content-between">
                                                <div>Products (In Update)</div>
                                                <div>({{product_need_update}})</div>
                                            </div>
                                            <div class="card-footer d-flex align-items-center justify-content-between">
                                                <a class="small text-white stretched-link" href="{% url 'product_list_with_type' type='is_finest' %}">View Details</a>
                                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-md-6">
                                        <div class="card bg-success text-white mb-4">
                                            <div class="card-body d-flex justify-content-between">
                                                <div>Products (QA Verified)</div>
                                                <div>({{product_qa_verified}})</div>
                                            </div>
                                            <div class="card-footer d-flex align-items-center justify-content-between">
                                                <a class="small text-white stretched-link" href="{% url 'product_list_with_type' type='qa_verified' %}">View Details</a>
                                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                          {% elif request.user|employee_type == 'product_maker' %}
                        <div class="card">
                                <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-3 col-md-6">
                                        <div class="card bg-primary text-white mb-4">
                                            <div class="card-body d-flex justify-content-between">
                                                <div>Products (In QA)</div>
                                                <div>({{product_in_qa}})</div>
                                            </div>
                                            <div class="card-footer d-flex align-items-center justify-content-between">
                                                <a class="small text-white stretched-link" href="{% url 'product_list_with_type' type='in_qa' %}">View Details</a>
                                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-md-6">
                                        <div class="card bg-danger text-white mb-4">
                                            <div class="card-body d-flex justify-content-between">
                                                <div>Products (In Update)</div>
                                                <div>({{product_need_update}})</div>
                                            </div>
                                            <div class="card-footer d-flex align-items-center justify-content-between">
                                                <a class="small text-white stretched-link" href="{% url 'product_list_with_type' type='is_finest' %}">View Details</a>
                                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-md-6">
                                        <div class="card bg-success text-white mb-4">
                                            <div class="card-body d-flex justify-content-between">
                                                <div>Products (QA Verified)</div>
                                                <div>({{product_qa_verified}})</div>
                                            </div>
                                            <div class="card-footer d-flex align-items-center justify-content-between">
                                                <a class="small text-white stretched-link" href="{% url 'product_list_with_type' type='qa_verified' %}">View Details</a>
                                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>

                        {% endif %}
                    </div>
                </main>
            </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script >
    // Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#292b2c';
var order_chart = {{ order_chart|safe }};
var order_chart_keys = Object.keys(order_chart);
var order_chart_values = Object.values(order_chart);

var ctx = document.getElementById("OrderPerChart");

var OrderPerChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: order_chart_keys,
    datasets: [{
      label: "Orders",
      lineTension: 0.3,
      backgroundColor: "rgba(2,117,216,0.2)",
      borderColor: "rgba(2,117,216,1)",
      pointRadius: 5,
      pointBackgroundColor: "rgba(2,117,216,1)",
      pointBorderColor: "rgba(255,255,255,0.8)",
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(2,117,216,1)",
      pointHitRadius: 50,
      pointBorderWidth: 2,
      data: order_chart_values,
    }],
  },
  options: {
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: false
        },
        ticks: {
          maxTicksLimit: 7
        }
      }],
      yAxes: [{
        ticks: {
          min: Math.min(...order_chart_values),
          max: Math.max(...order_chart_values),
          maxTicksLimit: 5
        },
        gridLines: {
          color: "rgba(0, 0, 0, .125)",
        }
      }],
    },
    legend: {
      display: false
    }
  }
});
<!--    PrepareOrder -->
var ctx2 = document.getElementById("PrepareOrderPerChart");

var orderprepare_chart = {{ orderprepare_chart|safe }};
var orderprepare_chart_keys = Object.keys(orderprepare_chart);
var orderprepare_chart_values = Object.values(orderprepare_chart);

var PrepareOrderPerChart = new Chart(ctx2, {
  type: 'line',
  data: {
    labels: orderprepare_chart_keys,
    datasets: [{
      label: "Prepare Orders",
      lineTension: 0.3,
      backgroundColor: "rgba(2,117,216,0.2)",
      borderColor: "rgba(2,117,216,1)",
      pointRadius: 5,
      pointBackgroundColor: "rgba(2,117,216,1)",
      pointBorderColor: "rgba(255,255,255,0.8)",
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(2,117,216,1)",
      pointHitRadius: 50,
      pointBorderWidth: 2,
      data: orderprepare_chart_values,
    }],
  },
  options: {
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: false
        },
        ticks: {
          maxTicksLimit: 7
        }
      }],
      yAxes: [{
        ticks: {
          min: Math.min(...orderprepare_chart_values),
          max: Math.max(...orderprepare_chart_values),
          maxTicksLimit: 5
        },
        gridLines: {
          color: "rgba(0, 0, 0, .125)",
        }
      }],
    },
    legend: {
      display: false
    }
  }
});


<!--    ExpensesPerChart -->
var ctx3 = document.getElementById("ExpensesPerChart");

var expenses_credit_chart = {{ expenses_credit_count_by_date|safe }};
var expenses_credit_keys = Object.keys(expenses_credit_chart);
var expenses_credit_values = Object.values(expenses_credit_chart);

var expenses_debit_chart = {{ expenses_debit_count_by_date|safe }};
var expenses_debit_keys = Object.keys(expenses_debit_chart);
var expenses_debit_values = Object.values(expenses_debit_chart);

var ExpensesPerChart = new Chart(ctx3, {
  type: 'line',
  data: {
    labels: expenses_credit_keys,
    datasets: [
      {
        label: "Credit",
        lineTension: 0.3,
        backgroundColor: "rgba(2,117,216,0.2)",
        borderColor: "rgba(2,117,216,1)",
        pointRadius: 5,
        pointBackgroundColor: "rgba(2,117,216,1)",
        pointBorderColor: "rgba(255,255,255,0.8)",
        pointHoverRadius: 5,
        pointHoverBackgroundColor: "rgba(2,117,216,1)",
        pointHitRadius: 50,
        pointBorderWidth: 2,
        data: expenses_credit_values,
      },
      {
        label: "Debit",
        lineTension: 0.3,
        backgroundColor: "rgba(255, 0, 0, 0.2)", // Example color
        borderColor: "rgba(255, 0, 0, 1)", // Example color
        pointRadius: 5,
        pointBackgroundColor: "rgba(255, 0, 0, 1)", // Example color
        pointBorderColor: "rgba(255,255,255,0.8)",
        pointHoverRadius: 5,
        pointHoverBackgroundColor: "rgba(255, 0, 0, 1)", // Example color
        pointHitRadius: 50,
        pointBorderWidth: 2,
        data: expenses_debit_values, // Replace with your actual data
      }
    ],
  },
  options: {
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: false
        },
        ticks: {
          maxTicksLimit: 7
        }
      }],
      yAxes: [{
        ticks: {
          min: Math.min(...expenses_credit_values.concat(expenses_debit_values)),
          max: Math.max(...expenses_credit_values.concat(expenses_debit_values)),
          maxTicksLimit: 5
        },
        gridLines: {
          color: "rgba(0, 0, 0, .125)",
        }
      }],
    },
    legend: {
      display: true, // Set to true to display legend
    }
  }
});

<!--    Payments -->

var payment_chart = {{ payment_by_date|safe }};
console.log(">>>>>>>>",payment_chart)
var payment_chart_keys = Object.keys(payment_chart);
var payment_chart_values = Object.values(payment_chart);

var ctx4 = document.getElementById("PaymentReceivePerDay");

var OrderPerChart = new Chart(ctx4, {
  type: 'line',
  data: {
    labels: payment_chart_keys,
    datasets: [{
      label: "Payments",
      lineTension: 0.3,
      backgroundColor: "rgba(2,117,216,0.2)",
      borderColor: "rgba(2,117,216,1)",
      pointRadius: 5,
      pointBackgroundColor: "rgba(2,117,216,1)",
      pointBorderColor: "rgba(255,255,255,0.8)",
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(2,117,216,1)",
      pointHitRadius: 50,
      pointBorderWidth: 2,
      data: payment_chart_values,
    }],
  },
  options: {
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: false
        },
        ticks: {
          maxTicksLimit: 7
        }
      }],
      yAxes: [{
        ticks: {
          min: Math.min(...payment_chart_values),
          max: Math.max(...payment_chart_values),
          maxTicksLimit: 5
        },
        gridLines: {
          color: "rgba(0, 0, 0, .125)",
        }
      }],
    },
    legend: {
      display: false
    }
  }
});


<!--    ExpensesPerChart -->
var ctx5 = document.getElementById("DeliveryPerDay");

var delivery_confirm_by_date = {{ delivery_confirm_by_date|safe }};
var delivery_confirm_keys = Object.keys(delivery_confirm_by_date);
var delivery_confirm_values = Object.values(delivery_confirm_by_date);

var delivery_delivering_by_date = {{ delivery_delivering_by_date|safe }};
var delivery_delivering_keys = Object.keys(delivery_delivering_by_date);
var delivery_delivering_values = Object.values(delivery_delivering_by_date);

var delivery_shipped_by_date = {{ delivery_shipped_by_date|safe }};
var delivery_shipped_keys = Object.keys(delivery_shipped_by_date);
var delivery_shipped_values = Object.values(delivery_shipped_by_date);

console.log(delivery_confirm_by_date,delivery_delivering_by_date,delivery_shipped_by_date)
var ExpensesPerChart = new Chart(ctx5, {
  type: 'line',
  data: {
    labels: delivery_confirm_keys,
    datasets: [
      {
        label: "Confirm Delivery",
        lineTension: 0.3,
        backgroundColor: "rgba(2,117,216,0.2)",
        borderColor: "rgba(2,117,216,1)",
        pointRadius: 5,
        pointBackgroundColor: "rgba(2,117,216,1)",
        pointBorderColor: "rgba(255,255,255,0.8)",
        pointHoverRadius: 5,
        pointHoverBackgroundColor: "rgba(2,117,216,1)",
        pointHitRadius: 50,
        pointBorderWidth: 2,
        data: delivery_confirm_values,
      },
      {
        label: "Delivering",
        lineTension: 0.3,
        backgroundColor: "rgba(255, 0, 0, 0.2)", // Example color
        borderColor: "rgba(255, 0, 0, 1)", // Example color
        pointRadius: 5,
        pointBackgroundColor: "rgba(255, 0, 0, 1)", // Example color
        pointBorderColor: "rgba(255,255,255,0.8)",
        pointHoverRadius: 5,
        pointHoverBackgroundColor: "rgba(255, 0, 0, 1)", // Example color
        pointHitRadius: 50,
        pointBorderWidth: 2,
        data: delivery_delivering_values, // Replace with your actual data
      },
        {
        label: "Shipped",
        lineTension: 0.3,
        backgroundColor: "rgba(69, 25, 82, 0.2)", // Example color
        borderColor: "rgba(69, 25, 82, 1)", // Example color
        pointRadius: 5,
        pointBackgroundColor: "rgba(69, 25, 82, 1)", // Example color
        pointBorderColor: "rgba(69, 25, 82,0.8)",
        pointHoverRadius: 5,
        pointHoverBackgroundColor: "rgba(69, 25, 82, 1)", // Example color
        pointHitRadius: 50,
        pointBorderWidth: 2,
        data: delivery_shipped_values, // Replace with your actual data
      }
    ],
  },
  options: {
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: false
        },
        ticks: {
          maxTicksLimit: 7
        }
      }],
      yAxes: [{
        ticks: {
          min: Math.min(...delivery_confirm_values.concat(delivery_delivering_values,delivery_shipped_values)),
          max: Math.max(...delivery_confirm_values.concat(delivery_delivering_values,delivery_shipped_values)),
          maxTicksLimit: 5
        },
        gridLines: {
          color: "rgba(0, 0, 0, .125)",
        }
      }],
    },
    legend: {
      display: true, // Set to true to display legend
    }
  }
});


</script>
{% endblock main-content %}