{% extends '../base_layout.html' %}
{% load static %}
{% block title %} Prepare Orders {% endblock title %}
{% block main-content %}
{% load attribute_prepare_order %}
<div class="my-5">
    {%include '../partials/breadcrumbs.html'%}
  </div>
<div class="container mb-5">
         <h3 class="text-center">Prepare Orders </h3>
    <div class="d-flex justify-content-around py-2">
        <a href="#" onclick="window.history.back();" type="button" class="btn-sm text-decoration-none btn-danger">Go Back</a>
    </div>

    <div class="d-flex justify-content-center">
        <div class="card table-responsive" style="width: 50rem;">
            <table class="table ">

                <tbody>
                    {% for order in orders %}

                    <tr class="table-light border-4">
                        <td><div class="card p-2">{{forloop.counter}}</div> </td>
                        <td colspan="6">
                         {% for prepare_order in order.orderprepare_set.all %}

                            <div class="card p-2">

                                    <div class="row">
                                        <div class="col-8">
                                            <h6><span class="fw-bold">Product Name: </span><span> {{prepare_order.stock_id.product_id.p_name}} ({{prepare_order.stock_id.product_attributes}})</span></h6>
                                        </div>
                                    </div>
                                    {% with orderline_record=prepare_order|get_price_from_prepare_order %}
                                    <div class="row">
                                         <div class="col-5">
                                             <h6><span class="fw-bold">Warehouse Name:</span><span> {{prepare_order.warehouse_id.name}}</span></h6>
                                        </div>
                                         <div class="col-3">
                                             <h6><span class="fw-bold">Quantity:</span><span>{{prepare_order.purchase_qty}}</span></h6>
                                        </div>
                                        <div class="col-3">
                                            <h6><span class="fw-bold">Unit Price:</span><span>{{orderline_record.unit_price}} Rs.</span></h6>
                                        </div>
                                        <div class="col-3">
                                            <h6><span class="fw-bold">Sub Total :</span><span>{{orderline_record.sub_total_amount}} Rs.</span></h6>
                                        </div>
                                        <div class="col-6">
                                            <h6><span class="fw-bold">Prepared Order status:</span><span> {{prepare_order.status}}</span></h6>
                                        </div>
                                    </div>
                                    {% endwith %}
                            </div>

                        {% endfor %}
                            <div class="d-flex justify-content-around py-2">
                                <a href="{% url 'update_prepare_order' orderid=order.orderid %}" type="button" class="btn btn-sm btn-primary">Edit</a>
                                {% if not order.delivery_set.exists %}
                                 <a href="{% url 'create_delivery' orderid=order.orderid %}" type="button" class="btn btn-sm btn-success">Delivery</a>
                                {% endif %}
                            </div>
                        </td>

                    </tr>

                {% endfor %}

                </tbody>
              </table>
          </div>
    </div>

</div>
 {% include '../../pagination.html'  with  records=orders %}

{% endblock main-content %}