{% extends '../../base.html' %}
{% load static %}
{% block title %} Prepare Orders {% endblock title %}
{% block main-content %}
{% load attribute_prepare_order %}
<div class="my-5">
    {%include '../partials/breadcrumbs.html'%}
  </div>
<div class="container mb-5">
    <div class="text-center p-5">
        <a href="{% url 'prepare_order' %}" type="button" class="btn-sm text-decoration-none btn-primary">Add New </a>
    </div>
    <div class="d-flex justify-content-center">
        <div class="card" style="width: 50rem;">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Order ID</th>
                    <th scope="col">Order Type</th>
                    <th scope="col">Order Amount</th>
                    <th scope="col">Order Discount</th>

                    <th scope="col" class="text-center">Action</th>

                  </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr class="table-dark">
                        <td> {{ forloop.counter }}</td>
                        <td> {{order.orderid}}</td>
                        <td> {{order.payment_set.last.payment_method}}</td>
                        <td> {{order.amount}}</td>
                        <td> {{order.total_discount}}</td>

                        <td >
                            <div class="d-flex justify-content-around">
                               <div>
                                <a href="{% url 'update_prepare_order' orderid=order.orderid %}" class="btn-sm btn-primary text-decoration-none">Edit</a>
                               </div>
                               <div>
                                    <a href="" class="btn-sm btn-danger text-decoration-none">Delete</a>
                               </div>
                            </div>
                             <div class="pt-2 text-center">
                                    <a href="{% url 'create_delivery' orderid=order.orderid %}" class="btn-sm btn-info text-decoration-none">Start Delivery</a>
                               </div>
                        </td>

                    </tr>
                    {% for prepare_order in order.orderprepare_set.all %}
                    <tr class="table-light border-4">
                        <td > {{forloop.counter}}</td>
                        <td colspan="6">
                            <div class="row">
                                <div class="col-12">
                                    <h6><span class="fw-bold">Product Name: </span><span> {{prepare_order.stock_id.product_id.p_name}} ({{prepare_order.stock_id.product_attributes}})</span></h6>
                                </div>


                            </div>
                            {% with orderline_record=prepare_order|get_price_from_prepare_order %}

                            <div class="row">
                                 <div class="col-12">
                                     <h6><span class="fw-bold">Warehouse Name:</span><span> {{prepare_order.warehouse_id.name}}</span></h6>
                                </div>
                                 <div class="col-3">
                                     <h6><span class="fw-bold">Quantity:</span><span>{{prepare_order.purchase_qty}}</span></h6>
                                </div>
                                <div class="col-3">
                                    <h6><span class="fw-bold">Unit Price:</span><span>{{orderline_record.unit_price}} Rs.</span></h6>
                                </div>
                                <div class="col-3">
                                    <h6><span class="fw-bold">Sub Total :</span><span>{{orderline_record.sub_total_amount}} Rs.</span></h6>
                                </div>
                                <div class="col-3">
                                    <h6><span class="fw-bold">Prepared Order status:</span><span> {{prepare_order.status}}</span></h6>
                                </div>
                            </div>
                            {% endwith %}
                        </td>
                    </tr>
                    {% endfor %}

                {% endfor %}

                </tbody>
              </table>
          </div>
    </div>

</div>

{% endblock main-content %}