{% extends '../base_layout.html' %}
{% load static %}
{% block title %}Prepare Order{% endblock title %}
{% block main-content %}
{% load attribute_from_orderline %}
<div class="my-5">
    {%include '../partials/breadcrumbs.html'%}
  </div>

<div class="container mb-5">
    <div class="d-flex justify-content-center">
        <div class="card" style="width: 50rem;">
            <div class="d-sm-flex align-items-center justify-content-center mb-4">
                <h1 class="h3 mb-0 text-gray-800">Prepare Order </h1>
              </div>
                <div class="row pb-2">
                    <div class="col-md-6 offset-md-3">
                          <select class="form-select" id="order_selector" onchange="handleSelectionChange()">
                                {% for order in orders %}
                                    <option value="{{order.id}}">
                                        {{order.order.first.product_id.p_name}}
                                     {% if order.order.count != 1 %} + {{order.order.count |add:"-1" }}
                                      others
                                      {% endif %}
                                    </option>
                                {% endfor %}
                          </select>

                    </div>
                </div>
            <form action="{% url 'prepare_order' %}" method="post">
                {% csrf_token %}
                <div id="dynamic_warehouse_content">
                     <div>
                          <table class="table" id="ordered_product_table">
                              <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Product</th>
                                  <th scope="col">QTY</th>
                                </tr>
                              </thead>
                              <tbody>
                              {% for orderline in orders.first.order.all %}
                                <tr>
                                  <th scope="row">{{forloop.counter}}</th>
                                  <td>{{orderline.product_id.p_name}} ({{orderline|get_attribute_from_orderline}})</td>
                                  <td>{{orderline.qty}}</td>
                                </tr>
                              {% endfor %}
                              </tbody>
                          </table>

                     </div>
                     <div class="card">
                    <div id="dynamic_warehouse_selector">
                        <input type="text" hidden="true" name="order_id" class="form-control" value="{{orders.first.id}}"/>

                      {% for orderline in orders.first.order.all %}
                        <div class="row pb-2">
                            <div class="col-md-8 offset-md-2">
                                <label class="form-label">Product</label>
                                <input type="text" hidden="true" name="product_id_{{forloop.counter}}" class="form-control" value="{{orderline.product_id.id}}_{{orderline|get_attribute_id_from_orderline}}"/>
                                <input type="text" disabled class="form-control" value="{{orderline.product_id.p_name}} ({{orderline|get_attribute_from_orderline}})" >
                            </div>
                            <div class="row py-2">
                                <div class="col-md-4 offset-md-2">
                                    <label class="form-label">Select Warehouse</label>
                                      <select class="form-select form-control" name="warehouse_{{forloop.counter}}" id="warehouse_{{forloop.counter}}" >
                                          {% for warehouse in orderline|get_warehouse_from_orderline %}
                                          {% with stock_record=orderline|get_left_qty_in_warehouse_for_product:warehouse %}
                                             <option value="{{warehouse.id}}">{{warehouse.warehouse_name}}
                                                {% if stock_record.left_qty <= stock_record.on_alert_qty %}
                                                 ( {{stock_record.on_alert_qty}} Left)
                                                 {% endif %}
                                             </option>
                                         {% endwith %}

                                          {% endfor %}
                                      </select>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Select Quantity</label>
                                    <input type="number" class="form-control" name="qty_{{forloop.counter}}" value="{{orderline.qty}}" min="{{orderline.qty}}" max="{{orderline.qty}}"/>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                </div>
                <div class="card">
                    <button class="btn-sm btn-primary prepare_order_btn">Prepare Order</button>
                </div>
            </form>
        </div>
    </div>

</div>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

<script type="text/javascript">
        function handleSelectionChange(){
                var selectedValue = document.getElementById("order_selector").value;

                console.log("Selected value: " + selectedValue);

            $.ajax({
                url: "{% url 'prepare_order_dynamic_content'  %}",
                method: 'GET',
                data:{"order_id":selectedValue},
                success: function (result) {
                    console.log(result,">>>>>result\n\n\n");
                     $('#dynamic_warehouse_content').replaceWith(result);
                }
            });

     }


<!--    function check_qty(){-->
<!--&lt;!&ndash;        find total qty of product &ndash;&gt;-->
<!--            var total_qty = 0;-->
<!--            var prepared_qty = 0;-->
<!--            $('[name^="qty_"]').each((x)=>{-->
<!--                 prepared_qty+=Number($('[name^="qty_"]')[x].value)-->
<!--                 total_qty +=Number($('[name^="qty_"]')[x].max)-->
<!--            })-->
<!--            if (total_qty == prepared_qty){-->

<!--            }-->
<!--            else{-->
<!--                alert("Please Validate Quantity");-->
<!--            }-->
<!--    }-->
<!--    check_qty()-->


</script>


{% endblock main-content %}