{% extends '../base_layout.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block main-content %}
{% load user_type %}
<div class="my-5">
    {%include '../partials/breadcrumbs.html'%}
  </div>
<div class="container mb-5">
    <div class="d-flex justify-content-center">
        <div class="card table-responsive" style="width: 50rem;">
            <div class="d-flex justify-content-around py-2">
                {% if request.user|employee_type == 'product_maker' %}
                <a href="{% url 'product_initialy_create' %}" class="btn-sm p-2 btn-primary text-decoration-none">Add New Product</a>
                {% endif %}
                <a href="#" onclick="window.history.back();" type="button" class="btn-sm text-decoration-none btn-danger">Go Back</a>
            </div>
            <table class="table ">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Category</th>
                      <th scope="col">No. Attributes</th>
                    <th scope="col" class="text-center">Action</th>

                  </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td> {{ forloop.counter }}</td>
                        <td> {{product.p_name}}</td>
                        <td> {{product.price}} Rs.</td>
                        <td> {{product.p_category}}</td>
                        <td>
                            {% for product_attr in product.productchangepriceattributes_set.all %}
                            <span>{{product_attr}}</span> | Price : <span class="fw-bold"> {{product_attr.price}}</span><br/>
                            {% endfor %}
                        </td>
                        <td>
                            <div class="d-flex justify-content-around align-items-center">
                               <div>

                           {% if request.user|employee_type == 'product_maker' %}
                                   <a href="{% url 'product_update_by_product_maker' id=product.id %}" class="btn-sm p-2 btn-primary text-decoration-none">Edit</a>
                            {% elif request.user.is_authenticated and request.user.is_superuser or request.user|employee_type == 'manager' and product.is_qa_verified %}
                                   <a href="{% url 'product_update' id=product.id %}" class="btn-sm p-2 btn-primary text-decoration-none">Edit</a>
                           {% elif request.user|employee_type == 'qa' %}
                                   {% if not product.is_qa_verified and product.is_product_finest %}
                                       <a href="{% url 'product_verify_or_reject' id=product.id type='verified' %}" class="btn-sm p-2 btn-primary text-decoration-none">Verified</a>
                                       <a href="{% url 'product_verify_or_reject' id=product.id type='reject' %}" class="btn-sm p-2 btn-danger text-decoration-none">Reject</a>
                                    {% endif %}
                            {% endif %}
                               </div>
                            {% if request.user.is_authenticated and request.user.is_superuser or request.user|employee_type == 'manager' %}
                               <div>
                                     {% with idx=product.id model_name='Product' %}
                                        {% with dynamic_url='product_delete' %}
                                            {% url dynamic_url id=idx as delete_url %}
                                            {% include '../partials/common_delete.html' %}
                                        {% endwith %}
                                    {% endwith %}

                               </div>
                            {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                
                </tbody>
              </table>
          </div>
    </div>
    
</div>

  {% include '../../pagination.html'  with  records=products %}

{% endblock main-content %}