{% extends '../base_layout.html' %}
{% load static %}
{% block title %}Stock List{% endblock title %}
{% block main-content %}
{% load product_attribute_names %}
<div class="my-5">
    {%include '../partials/breadcrumbs.html'%}
  </div>
<div class="container mb-5">
    <div class="d-flex justify-content-center">
        <div class="card" style="width: 50rem;">
            <h3 class="text-center py-2"> Stock </h3>
            <div class="d-flex justify-content-around py-2">
                <a href="{% url 'stock_create' %}" class="btn btn-primary text-decoration-none">Add New Stock</a>
                <a href="#" onclick="window.history.back();" type="button" class="btn-sm text-decoration-none btn-danger">Go Back</a>
            </div>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product</th>
                  <th scope="col">Warehouse</th>
                    <th scope="col">Total Qty</th>
                    <th scope="col">Left Qty</th>
                    <th scope="col">Finished</th>
                    <th scope="col" class="text-center">Action</th>

                  </tr>
                </thead>
                <tbody>
                    {% for stock in stocks %}
                    <tr>
                        <td> {{ forloop.counter }}</td>
                        <td> {{stock.product_id}} ({{stock.product_attributes }})</td>
                         <td> {{stock.warehouse_id.name}}</td>
                        <td> {{stock.total_qty}}</td>
                        <td> {{stock.left_qty}}</td>
                        <td> {% if stock.finished %} Yes {% else %} No {% endif %}</td>

                        <td>
                            {% if not stock.finished %}
                            <div class="d-flex justify-content-around align-items-center">
                               <div>
                                <a href="{% url 'stock_update' id=stock.id %}" class="btn-sm p-2 text-decoration-none btn-primary ">Edit</a>
                               </div>
                               <div>
                                <a href="{% url 'stock_finish' id=stock.id %}" class="btn-sm py-2 text-decoration-none btn-danger">Finish</a>
                               </div>
                            </div>
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}
                
                </tbody>
              </table>
          </div>
    </div>
    
</div>

{% endblock main-content %}