{% extends '../../base.html' %}
{% load static %}
{% block title %}Stock Update{% endblock title %}
{% block main-content %}
<div class="my-5">
  {%include '../partials/breadcrumbs.html'%}

</div>

{%load crispy_forms_tags %} 

 <div class="container my-5 col-md-8 offset-md-2">
        <div class="text-center">
            <h3 class="text-decoration-underline text-dark fw-bold">Create Stocks</h3>

        </div>
            {% load crispy_forms_tags %}

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- {{ forms|crispy}} -->
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-0">
                          {{ forms.warehouse_id|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                          {{ forms.product_id|as_crispy_field }}
                        </div>
                         <div class="form-group col-md-4 mb-0">
                          {{ forms.product_attributes|as_crispy_field }}
                        </div>
                      </div>

                    <div class="form-row">
                        <div class="form-group col-md-4 mb-0">
                          {{ forms.total_qty|as_crispy_field }}
                        </div>
                      
                        <div class="form-group col-md-4 mb-0">
                          {{ forms.left_qty|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                          {{ forms.on_alert_qty|as_crispy_field }}
                        </div>
                      </div>

                    <div class="col-md-2 offset-md-5">
                        <button type="submit" class="btn-sm btn-primary">Apply</button>
                 </div>
                </form>

            </div>
        
</div>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

<script type="text/javascript">
        function handleSelectionChange(){
                var selectedValue = document.getElementById("selecter_warehouse").value;
                console.log("Selected value: " + selectedValue);

                 $.ajax({
                url: "{% url 'get_product_by_warehouse'  %}",
                method: 'GET',
                data:{"warehouse_id":selectedValue},
                success: function (result) {
                console.log(result,">>>>>result\n\n\n");

                var selectElement = document.getElementById('id_product_id');

                // Remove all existing options
                while (selectElement.firstChild) {
                  selectElement.removeChild(selectElement.firstChild);
                }
                    // Iterate through the product data and create options
                result.products.forEach(function(product) {
                console.log(product)
                  var option = document.createElement('option');
                  option.value = product.id;
                  option.text = product.p_name;
                  selectElement.appendChild(option);
                });

                }
            });

        }
</script>
{% endblock main-content %}