{% extends '../../base.html' %}
{% load static %}
{% block title %}Stock Update{% endblock title %}
{% block main-content %}
<div class="my-5">
  {%include '../partials/breadcrumbs.html'%}

</div>

{%load crispy_forms_tags %} 

 <div class="container my-5 col-md-8 offset-md-2">
        <div class="text-center">
            <h3 class="text-decoration-underline text-dark fw-bold">Create Stocks</h3>

        </div>
            {% load crispy_forms_tags %}

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- {{ forms|crispy}} -->
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-0">
                          {{ forms.warehouse_id|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                          {{ forms.product_id|as_crispy_field }}
                        </div>
                      </div>

                    <div class="form-row">
                        <div class="form-group col-md-4 mb-0">
                          {{ forms.total_qty|as_crispy_field }}
                        </div>
                      
                        <div class="form-group col-md-4 mb-0">
                          {{ forms.left_qty|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                          {{ forms.on_alert_qty|as_crispy_field }}
                        </div>
                      </div>

                    <div class="col-md-2 offset-md-5">
                        <button type="submit" class="btn-sm btn-primary">Apply</button>
                 </div>
                </form>

            </div>
        
</div>

{% endblock main-content %}