{% extends '../base_layout.html' %}
{% load static %}
{% block title %}Warehouse List{% endblock title %}
{% block main-content %}
{% load custom_tags %}

<div class="my-5">
    {%include '../partials/breadcrumbs.html'%}
  </div>
<div class="container mb-5">

        <div class="d-flex justify-content-around py-2">
            <a href="{% url 'create_warehouse' %}" type="button" class="btn-sm text-decoration-none btn-primary">Add New </a>
            <a href="#" onclick="window.history.back();" type="button" class="btn-sm text-decoration-none btn-danger">Go Back</a>
        </div>
    <div class="d-flex justify-content-center">
        <div class="card table-responsive" style="width: 50rem;">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                      <th scope="col">Name</th>
                    <th scope="col">Handle By</th>
                    <th scope="col">Address</th>
                    <th scope="col">In Use Since </th>
                    <th scope="col">Mobile No</th>
                    <th scope="col" class="text-center">Action</th>

                  </tr>
                </thead>
                <tbody>
                    {% for warehouse in warehouses %}
                    <tr>
                        <td> {{ forloop.counter }}</td>
                          <td> {{warehouse.name}}</td>
                          <td> {{warehouse.owner}}</td>
                        <td> {{warehouse.address}}</td>
                        <td> {{warehouse.created_at}}</td>
                        <td> {{warehouse.mobile_no}}</td>
                        <td> {{warehouse.salary}}</td>
                        <td>
                            <div class="d-flex justify-content-around align-items-center">
                               <div>
                                <a href="{% url 'update_warehouse' id=warehouse.id %}" class="btn-sm p-2 btn-primary text-decoration-none">Edit</a>
                               </div>
                               <div>
                                     {% with idx=warehouse.id model_name='Warehouse' %}
                                        {% with dynamic_url='delete_warehouse' %}
                                            {% url dynamic_url id=idx as delete_url %}
                                            {% include '../partials/common_delete.html' %}
                                        {% endwith %}
                                    {% endwith %}
                               </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
              </table>
          </div>
    </div>

</div>
 {% include '../../pagination.html'  with  records=warehouses %}

{% endblock main-content %}