{% extends '../base.html' %}
{% load static %}
<!-- Owl Carousel -->

{% block title %}Your Order{% endblock title %}
{% block main-content %}
<link type="text/css" href="{% static 'css/orderviews.css' %}" rel="stylesheet" />

<div class="container-fluid my-5 d-sm-flex justify-content-center">
    <div class="card px-2">
        <div class="card-header bg-white">
            <div class="row justify-content-between">
                <p class="text-muted"> Order ID <span class="font-weight-bold text-dark">{{order.orderid}}</span>
                    </p>
                <div class="col">

                    <p class="text-muted"> Created At <span
                            class="font-weight-bold text-dark">{{order.created_at}}</span> </p>
                    <p class="text-muted">Payment Status
                        <span class="font-weight-bold text-dark">
                            {% if order.payment_set.count == 0 %}
                            Not Paid Yet
                            {% else %}
                            {{order.payment_set.last.status }}
                            {% endif %}

                        </span>
                    </p>
                    {% if order.payment_set.count != 0 %}

                    <p class="text-muted">Payment Type
                        <span class="font-weight-bold text-dark">
                            {{order.payment_set.last.payment_method }}
                        </span>
                    </p>
                    {% endif %}

                </div>
                <div class="col my-auto">
                    {% if order.payment_set.count == 0 %}

                    <h6 class="ml-auto mr-3"> <a class="btn-sm btn-success text-decoration-none p-2"
                            href="{% url 'update_order' order.orderid %}">Pay now</a> </h6>

                    {% else %}
                    <h6 class="float-right my-2"> <a class="btn-sm btn-success text-decoration-none p-2"
                            href="{% url 'receipt' order.orderid %}">Generate Receipt</a> </h6>
                    {% endif %}

                </div>
            </div>
        </div>

        <div class="card-body">
            {% load custom_tags %}

            <h2 class="text-center"><span class="text-muted"> {{order.order_status|paymentstype|title}} </span></h2>
            <hr />
            <table class="table">
              <thead>
                    <tr>
                      <th scope="col">Product Name</th>
                      <th scope="col">QTY</th>
                      <th scope="col">Price</th>
                      <th scope="col">Sub Total</th>
                      <th scope="col">Image</th>
                    </tr>
              </thead>
              <tbody>
                {% for i in orderlines %}
                    <tr>
                      <td class="table-active">{{i.product_id.p_name}}</td>
                      <td class="table-active" >{{i.qty}}</td>
                      <td class="table-active" >{{i.unit_price}}</td>
                      <td class="table-active">{{i.sub_total_amount|floatformat:"2"}}</td>
                      <td>
                          <div style="width:70px;height: auto;">
                            <div class="img-prdct"><img style="max-width: 100%;height: inherit;" src="{{i.product_id.photo_1.url}}">
                            </div>
                          </div>
                      </td>
                    </tr>
                  {% endfor %}
              </tbody>
            </table>

            <div class="d-flex justify-content-between">
                <h5>Total Pay: {{order.amount|floatformat:"2"}} Rs.</h5>
                 {% if order.vouchers %}
                    <h5>Total Discount: {{order.total_discount}} Rs.</h5>
                {% endif %}
            </div>

        <hr/>
            <div class="d-flex justify-content-between pt-2">
                <div>
                <h6>{{order.checkout.address1}},{% if order.checkout.address2 %} {{order.checkout.address2}} {% endif %} <br/>{{order.checkout.city}},{{order.checkout.zip}}<br/>{{order.checkout.state}},{{order.checkout.country}}</h6>
                </div>
                    <div>

                    {% if order.order_status == 'order_confirm' %}

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Cancel Order
                    </button>

                    {% endif %}
       

                        <!-- Modal -->
                        <div class="modal" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are You sure You want to Cancel Order?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <a type="button" class="btn btn-primary"
                                            href="{% url 'cancelorder' order.orderid %}">Confirm Cancelation</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        {% if order.delivery_set.last %}
        <div class="row px-3">
            <div class="col">
                <ul id="progressbar">
                    <li class="step0 {% if order.delivery_set.last.state == 'Confirm' or order.delivery_set.last.state  == 'Delivering' or order.delivery_set.last.state == 'Shipped' %} active {% endif %}"
                        id="step1">Confirmed</li>
                    <li class="step0 {% if order.delivery_set.last.state  == 'Delivering' or order.delivery_set.last.state == 'Shipped' %} active {% endif %} text-center"
                        id="step2">Deliverying</li>
                    <li class="step0 text-muted text-right {% if order.delivery_set.last.state == 'Shipped'%} active {% endif %}" id="
                        step3">Shipped</li>
                </ul>
            </div>
        </div>
        {% endif %}
        <!-- <div class="card-footer bg-white px-sm-3 pt-sm-4 px-0">
            <div class="row text-center ">
                <div class="col my-auto border-line ">
                    <h5>Track</h5>
                </div>
                <div class="col my-auto border-line ">
                    <h5>Cancel</h5>
                </div>
                <div class="col my-auto border-line ">
                    <h5>Pre-pay</h5>
                </div>
                <div class="col my-auto mx-0 px-0 "><img class="img-fluid cursor-pointer" src="https://img.icons8.com/ios/50/000000/menu-2.png" width="30" height="30"></div>
            </div>
        </div> -->
    </div>
</div>

{% endblock main-content %}