#sticky {
    position: fixed;
    position: -webkit-fixed;
    width: 100px;
    height: 45px;
    border-radius: 5px;
    top: 30%;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 6px #000;
    color: #fff;
    z-index: 10000;

  }
  /* #wrapper {
    width: 75%;
    margin: auto;
    background-color: #ccc;
  }
  #wrapper {
    height: 800px;
  }
  */
