


<!-- email_template.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Blink The Wood Studio!</title>
</head>
<body>
    <p>Hello {{ username }},</p>

    <p>Welcome to Blink The Wood Studio! We're thrilled to have you as part of our wooden products community.</p>

    <p>At Blink The Wood Studio!, we specialize in crafting high-quality, handcrafted wooden products that bring nature's beauty into your everyday life.</p>

    <p>Our collection includes a wide range of exquisite wooden pieces, from elegant furniture to unique decor items. Each piece is meticulously crafted by our skilled artisans, ensuring that you receive nothing but the best.</p>

    <p>As a valued Warehouse Owner, you can <strong><a style="text-decoration:none;" href="{{ protocol }}://{{ domain }}"> login now</a></strong> into our website:</p>

    <p>Best regards,</p>
    <p>The Blink The Wood Studio Team</p>
</body>
</html>

