{% load static %}
{% load user_type %}

<div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="{% url 'dashboard' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            {% if request.user.is_authenticated and request.user.is_superuser or request.user|employee_type == 'manager' %}

                             <div class="sb-sidenav-menu-heading">Products</div>
                                <a class="nav-link" href="{% url 'product_list' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Products
                            </a>
                            <div class="sb-sidenav-menu-heading">Employees</div>
                            <a class="nav-link" href="{% url 'list_employees' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Employees
                            </a>
                            <div class="sb-sidenav-menu-heading">Products Attributes</div>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#product_attribute" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                    Product Attributes
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="product_attribute" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="{% url 'list_attribute_name' %}">Product Attributes Name</a>
                                        <a class="nav-link" href="{% url 'product_attribute_list' %}">Product Attributes</a>
                                    </nav>
                                </div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#product_category" aria-expanded="false" aria-controls="collapseLayouts">
                                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                        Product Category
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="product_category" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="{% url 'list_category' %}">Product Category</a>
                                            <a class="nav-link" href="{% url 'list_sub_category' %}">Product Sub Category</a>
                                        </nav>
                                    </div>

<!--                            stocks -->

                                <div class="sb-sidenav-menu-heading">Stocks Management</div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#stock_management" aria-expanded="false" aria-controls="collapseLayouts">
                                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                        Stocks
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="stock_management" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="{% url 'stock_list' %}">Stocks</a>
                                            <a class="nav-link" href="{% url 'list_warehouses' %}">Warehouses</a>
                                            {% if request.user.is_superuser %}
                                            <a class="nav-link" href="{% url 'list_deleted_warehouses' %}">Deleted Warehouses</a>
                                            <a class="nav-link" href="{% url 'list_approval_need_warehouses' %}">Approval Warehouses</a>
                                            {% endif %}
                                        </nav>
                                    </div>

                                <div class="sb-sidenav-menu-heading">Order Management</div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#order_management" aria-expanded="false" aria-controls="collapseLayouts">
                                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                        Orders
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="order_management" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="{% url 'orderlists' %}">User's Orders</a>
                                            <a class="nav-link" href="{% url 'list_prepare_orders' %}">Prepare Orders</a>
                                        </nav>
                                    </div>

                             <div class="sb-sidenav-menu-heading">Accounts</div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#expense_management" aria-expanded="false" aria-controls="collapseLayouts">
                                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                        Expense
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="expense_management" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="{% url 'list_of_ledgers' %}">Other Expenses</a>
                                            <a class="nav-link" href="{% url 'paymentlists' %}">Payment</a>

                                        </nav>
                                    </div>
                              <div class="sb-sidenav-menu-heading">Others</div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#other_management" aria-expanded="false" aria-controls="collapseLayouts">
                                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                        Others
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="other_management" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                        <nav class="sb-sidenav-menu-nested nav">

                                            <a class="nav-link" href="{% url 'list_vouchers' %}">Vouchers</a>
                                            <a class="nav-link" href="{% url 'delivery_list' %}">Delivery</a>

                                        </nav>
                                    </div>
                        {% elif request.user|employee_type == 'product_maker' %}
                            <div class="sb-sidenav-menu-heading">Products</div>
                                <a class="nav-link" href="{% url 'product_list' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Products
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        {{request.user.username}}
                    </div>
                </nav>
            </div>

