{% load check_url_exists %}

    <div class=" mt-3">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb alert alert-success">
            {% for crumb in breadcrumbs %}
                {% if crumb.url|check_url_exists %}
                        <li class="breadcrumb-item"><a class="text-decoration-none" href="{{ crumb.url }}">{{ crumb.name }}</a></li>
                {% else %}
                          <li class="breadcrumb-item text-grey active" aria-current="page">{{ crumb.name }}</li>
                {% endif %}
            {% endfor %}
            </ol>
        </nav>
        </div>

